@model IEnumerable<Client.Data.ScholarshipApplicant>
@{
  ViewData["title"] = "Forbidden";
}

<div class="well">
  <h3>Forbidden</h3>
  <p>You have already applied for this scholarship.</p>
  <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
</div>
