@model IEnumerable<Client.Data.ScholarshipApplicant>
@{
  ViewData["title"] = "Invalid role";
}

<div class="well">
  <h3>Invalid role</h3>
  <p>A student account is required for this operation.</p>
  <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
</div>
