@model IEnumerable<Client.Data.ScholarshipApplicant>
@{
  ViewBag["title"] = "Success";
}

<div class="well">
  <h3>Success</h3>
  <p>Congratulations! Your scholarship application has been registered.</p>
  <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
</div>
